<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyCar | Accueil</title>
</head>
<body>
  <h1>Bienvenue sur l'outil de gestion Pycar!</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages%}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <p> Bienvenue ! {{username}} </p>

    <a href={{url_for('logout')}}>Se deconnecter</a>
<br></br>
     <form action="" method="POST">
        <label>Entrer la marque de la voiture:</label>
        <input type="text" name="carname" placeholder="Marque"></br>
        <label>Entrer le modele de la voiture:</label>
        <input type="text" name="carbrand" placeholder="Modele"></br> 
        <label>Entrer le prix de la voiture:</label> 
        <input type="number" min=0 name="carprice" placeholder="Prix (€)"></br>
        <button type="submit">Envoyer</button>

    </form>
  
</body>