<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyCar | Accueil</title>
</head>
<body>
  <h1>Bienvenue sur l'outil de gestion Pycar!</h1>

  <tr><td><a href={{url_for('logout')}}>Se deconnecter</a></td>
      
  </tr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages%}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <p> Bienvenue ! {{session.username}} vous êtes un {{session.role}}</p>

    {% if session.role != 'mecanicien' %}
      <a href={{url_for('car_board_seller')}}>Tableau de bord</a>
    {% endif %}
    {% if session.role != 'vendeur' %}
      <a href={{url_for('car_board_mechanic')}}>Maintenance véhicules</a>
    {% endif %}
    
    <a href={{url_for('page_profil')}}>Profil</a>


  
</body>