<!doctype html>
<head>
  <title>Inscrire un utilisateur</title>
</head>
<body>
  <h1>Inscrire un utilisateur sur l'outil pycar</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages%}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST" action={{url_for('register')}}>
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" name="username" id="username"/> <br>
    <label for="password">Mot de passe:</label>
    <input type="password" name="password" id="password"/> <br>
    <label for="email">Adresse mail:</label>
    <input type="text" name="email" id="email"/> <br>
    <label for="role">rôle:</label>
    <select name="role" id="role">
      <option value="administrateur">administrateur</option>
      <option value="mecanicien">mécanicien</option>
      <option value="vendeur">vendeur</option>
    </select>

    <button type="submit">valider</button><br>

    <p>
      <a href={{url_for('index')}}>Retour vers l'index</a>
    </p>

  </form>
</body>