<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyCar | Edition fiche technique</title>
</head>
<body>
    
    <h1>Fiche technique de véhicule</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{url_for('car_create_sheet', id_car = id_car)}}" method="POST">
        <textarea name="sheet_content" id="sheet_content" cols="30" rows="10">{% if file_content != None %}{{file_content}}{% endif %}</textarea>

        <button>Valider</button>
    </form>
        
    <a href="{{url_for('car_board')}}">Tableau de bord</a>

</body>
</html>